<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todo Application</h1>
<a href="/add">Add task</a>
<h2>List tasks</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.content}"></td>
        <td><a th:href="@{/edit/{id}(id=${task.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>